/* @layer components { */
  .typewriter {
    position: relative;
    width: 0; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #1f2937;
    animation: typing 2s steps(26) forwards, blink 0.6s steps(1) infinite;
  }
/* } */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 26ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}